

  <div class="w-full max-w-full mx-0 p-6 space-y-6">
    <div class="grid grid-cols-1 sm:grid-cols-5 gap-6 w-full">
          <p-select
    [options]="objetivos"
    [(ngModel)]="objetivoId"
    optionValue="id"
    optionLabel="descricao"
    placeholder="Selecione Objetivo"
    class="w-full md:w-56"
  />

    </div>

    <form [formGroup]="formProblema">

    <div class="grid grid-cols-1 sm:grid-cols-5 gap-6 w-full">
      <div class="col-span-1 sm:col-span-3">
        <p-floatlabel variant="on" class="block w-full">
          <input
            formControlName="descricao"
            pInputText
            id="descricao"
            autocomplete="off"
            class="w-full border border-gray-300 rounded-md p-2 h-12"
          />
          <label for="descricao">Descrição</label>
        </p-floatlabel>
      </div>

      <div class="col-span-1">
        <p-select
          [options]="etapas"
          formControlName="etapa"
          placeholder="Etapa"
          class="w-full border border-gray-300 rounded-md p-2 h-12"
        >
        </p-select>
      </div>

      <div class="col-span-1 flex flex-col gap-2">
        <label class="block mb-1 font-medium">Possui Causa?</label>
        <div class="flex flex-wrap items-center gap-4">
          <div class="flex items-center gap-2">
            <p-radioButton
              formControlName="hasCausa"
              inputId="hasCausaSim"
              value="Sim"
            ></p-radioButton>
            <label for="hasCausaSim">Sim</label>
          </div>
          <div class="flex items-center gap-2">
            <p-radioButton
              formControlName="hasCausa"
              inputId="hasCausaNao"
              value="Não"
            ></p-radioButton>
            <label for="hasCausaNao">Não</label>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-5 gap-6 w-full items-end">
      <div class="col-span-1 sm:col-span-2">
        <p-floatlabel variant="on" class="block w-full">
          <input
            formControlName="resultado"
            pInputText
            id="resultado"
            autocomplete="off"
            class="w-full border border-gray-300 rounded-md p-2 h-12"
          />
          <label for="resultado">Resultado</label>
        </p-floatlabel>
      </div>

      <div class="col-span-1">
        <label class="block mb-1 font-medium">Prioridade</label>
        <div class="flex flex-wrap items-center gap-4">
          <div class="flex items-center gap-2">
            <p-radioButton
              formControlName="hasPrioridade"
              inputId="hasPrioridadeSim"
              value="Sim"
            ></p-radioButton>
            <label for="hasPrioridadeSim">Sim</label>
          </div>
          <div class="flex items-center gap-2">
            <p-radioButton
              formControlName="hasPrioridade"
              inputId="hasPrioridadeNao"
              value="Não"
            ></p-radioButton>
            <label for="hasPrioridadeNao">Não</label>
          </div>
        </div>
      </div>

      <div class="col-span-1">
        <p-select
          [options]="categorias"
          formControlName="categoria"
          placeholder="Categoria"
          class="w-full border border-gray-300 rounded-md p-2 h-12"
        >
        </p-select>
      </div>

      <div class="col-span-1 flex items-center">
        <p-button
          (onClick)="submit()"
          label="Incluir"
          icon="pi pi-plus"
          severity="info"
          [styleClass]="'py-2 px-4 w-full'"
        >
        </p-button>
      </div>
    </div>
    </form>

  </div>

